#type-input {
    width: 100%;
    height: 100%;
}

#type-input::placeholder {
    font-size: 16;
    color: #959595;
    font-weight: 500;
}

#type-label {
    cursor: text;
}

.divider-before::before {
    content: "";
    position: absolute;
    top: -60px;
    left:0;
    right: 0;
    height: 100px;
    transform: skewY(-2deg);
    background-color: inherit;
}

.divider-before-sm::before {
    content: "";
    position: absolute;
    top: -25px;
    left:0;
    right: 0;
    height: 50px;
    transform: skewY(-2deg);
    background-color: white;
}

.divider-after::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left:0;
    right: 0;
    height: 100px;
    transform: skewY(-2deg);
    background-color: inherit;
}

.divider-after-sm::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left:0;
    right: 0;
    height: 80px;
    transform: skewY(-2deg);
    background-color: white;
}

:focus-visible {
    outline: none !important;
    border: none !important;
}